*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom Properties */
:root {
  --ff-headings: 'Roboto Mono', monospace;
  --ff-body: 'Roboto', sans-serif;

  --fw-bold: 700;
  --fw-regular: 500;
  --fw-light: 300;

  --clr-light: #FFF;
  --clr-dark: #102734;
  --clr-accent: #C3423F;

  --fs-h1: 3rem;
  --fs-h2: 3.5rem;
  --fs-h3: 1.5rem;
  --fs-body: 1.25rem;
  --fs-nav-title: 1.5rem;
  --fs-name: 6.5rem;
}

/* Typography */
h1, h2, h3 {
  line-height: 1
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-light);
  color: var(--clr-dark);
}

nav {
  font-family: var(--ff-headings);
}

input, textarea {
  font-family: var(--ff-headings);
  font-size: var(--fs-h3);
}

footer {
  font-family: var(--ff-headings);
  font-size: var(--fs-h3);
}

.nav__title {
  font-size: var(--fs-nav-title);
}

.nav__link {
  color: var(--clr-dark);
}

.section__title {
  font-family: var(--ff-headings);
  font-weight: var(--fw-bold);
  color: var(--clr-accent);
}

.intro__hello, .intro__name, .intro__position {
  color: var(--clr-dark);
  font-weight: var(--fw-regular);
}

.intro__name {
  font-size: var(--fs-name);
  font-weight: var(--fw-bold);
  display: block;
}

.section__subtitle {
  font-size: var(--fs-h3);
}

.section__subtitle--employer, .section__subtitle--projects, .section__subtitle--contact {
  font-family: var(--ff-headings);
  color: var(--clr-accent);
}

.intro__position {
  color: var(--clr-accent);
}

.about__container p span {
  color: var(--clr-accent);
  font-weight: bold;
}

.skills__name {
  font-family: var(--ff-headings);
}

.project__skills p {
  font-family: var(--ff-headings);
  color: var(--clr-accent);
}

/* General Styles */
body {
  background: var(--clr-light);
  line-height: 1.5;
}

section {
  margin: 10em 20% 0;
  scroll-margin-top: 5vh;
}

nav {
  background-color: var(--clr-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20%;
  min-height: 5vh;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.container {
  margin-top: 2em;
}

.social-media__link:hover, .arrow:hover, .nav__link:hover, .social-media__footer:hover {
  color: var(--clr-accent);
  transition: 0.5s;
}

/* Button */
.button {
  margin-top: 1em;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  border: 0;
  font-family: var(--ff-headings);
  color: var(--clr-light);
  font-size: var(--fs-body);
  background: var(--clr-dark);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background: #C3423F;
  transition: 0.5s;
  text-decoration: none;
}

/* Nav */
.nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav__item {
  padding: 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link {
  text-decoration: none;
}

.fa-sun {
  font-size: 2rem;
}

/* Intro Section */
.intro {
  margin-top: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.intro__container {
  margin-top: 0;
  padding: 5em 0;
}

.intro__social-media {
  position: relative;
  top: 5em;
}

.social-media__list {
  list-style: none;
  display: flex;
}

.social-media__item {
  text-decoration: none;
  padding: 0 1em 0 0;
}

.social-media__link {
  text-decoration: none;
  color: var(--clr-dark);
}

.arrow {
  text-decoration: none;
  color: var(--clr-dark);
}

.bounce {
  position: absolute;
  left: 0;
  bottom: 5em;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* About Section */
.about__container p {
  margin-top: 1em;
}

.about__contact-container {
  height: 100%;
}

/* Skills Section */
.skills__container {
  text-align: center;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.skills__icon {
  font-size: 3.5em;
}

/* Experience Section */
.employer__item {
  display: flex;
  margin-bottom: 2em;
}

.employer__description {
  width: 100%;
}

/* Projects Section */
.my-projects {
  margin-top: 8em;
}

.project__container {
  width: 100%;
}

.project__item {
  display: flex;
  width: 75%;
  margin-bottom: 10em;
}

.project__display {
  margin-left: 2.5em;
  order: 1;
}

.image-mockup {
  height: 350px;
}

.project__display--links {
  margin-top: 1em;
}

.project__link {
  margin-right: 1em;
}

.project__skills p {
  margin-bottom: 1em;
}

.skills__icon--project {
  font-size: 2.5em;
  margin-right: 0.25em;
}

/* Contact Section */
.contact__prompt {
  margin-top: 0.5em;
}

.contact__prompt p {
  margin-bottom: 0.5em;
}

.contact__form {
  padding: 2.5em;
  border: 0.125em solid var(--clr-dark);
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin-bottom: 1em;
  border: 0.0625em solid var(--clr-dark);
  padding: 0.5em;
}

/* Footer */
footer {
  margin: 2em 0;
  text-align: center;]
  width: 100%;
}

.social-media__footer {
  text-decoration: none;
  color: var(--clr-dark);
  margin: 0.5em;
}
