*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Custom Properties
:root {
  // Colors
  --clr-primary: #102734;
  --clr-secondary: #FFF;
  --clr-accent: #C3423F;

  // Font Families
  --ff-headings: 'Roboto Mono', monospace;
  --ff-body: 'Roboto', sans-serif;

  // Font Weights
  --fw-bold: 700;
  --fw-regular: 500;
  --fw-light: 300;

  // Font Sizes
  --fs-h1: 3.75rem;
  --fs-h2: 2.75rem;
  --fs-h3: 2rem;
  --fs-body: 1.25rem;
  --fs-logo: 1.75rem;
  --fs-nav-link: 2.5rem;
  --fs-name: 6.5rem;
  --fs-contact-form: 1.375rem;
  --fs-footer: 1rem;
}

// Typography
h1, h2, h3 {
  font-family: var(--ff-headings);
  line-height: 1;
}

h2, h3 {
  font-weight: var(--fw-regular);
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-light);
  color: var(--clr-primary);
}

input, textarea {
  font-family: var(--ff-headings);
  font-size: var(--fs-contact-form);
  color: #102734;
}

footer {
  font-family: var(--ff-headings);
  font-size: var(--fs-footer);
}

.section {
  &__title {
    color: var(--clr-accent);
  }
}

.nav {
  font-family: var(--ff-headings);

  &__logo a {
    font-size: var(--fs-logo);
    color: var(--clr-primary);
  }

  &__link, &__dark-mode {
    color: var(--clr-primary);
    font-size: var(--fs-nav-link);
  }
}

.hero {
  &__hello, &__name {
    color: var(--clr-primary);
  }

  &__position {
    color: var(--clr-accent);
  }
}

.about-me {
  span {
    color: var(--clr-accent);
      font-weight: var(--fw-bold);
  }
}

.skill {
  &__name {
    font-family: var(--ff-headings);
  }
}

.project {
  &__description {
    &__skills {
      font-family: var(--ff-headings);
    }
  }
}

// General Styles
// HTML
html {
  scroll-behavior: smooth;
}

// Body
body {
  background: var(--clr-secondary);
  line-height: 1.5;
}

header {
  margin: 0 auto;
  height: 100vh;

  .nav {
    background: var(--clr-secondary);
    min-height: 5vh;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;

    &__menu {
      background: var(--clr-secondary);
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
      transform: translateX(100%);
      transition: transform 0.25s cubic-bezier(0.5, 0, 0.5, 1);
    }

    &__list {
      list-style: none;
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      margin-top: 3em;
      margin-right: 1em;
      position: absolute;
      right: 0;
      align-items: end;
    }

    &__item {
      padding: 0.25em 0;
    }

    &__link {
      text-decoration: none;

      &:hover {
        color: var(--clr-accent);
        transition: 0.5s;
      }
    }

    &__dark-mode {
      cursor: pointer;

      &:hover {
        color: var(--clr-accent);
        transition: 0.5s;
      }
    }

    &__toggle {
      padding: 0.5em 0.1em;
      background: transparent;
      border: 0;
      cursor: pointer;
      position: absolute;
      right: 1.3em;
      top: 1.3em;
      z-index: 1000;
    }

    &__hamburger {
      display: block;
      position: relative;

      &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
      }

      &:before {
        bottom: 6px;
      }

      &:after {
        top: 6px;
      }
    }

    &__hamburger, &__hamburger:before, &__hamburger:after {
      background: var(--clr-primary);
      width: 2em;
      height: 3px;
      border-radius: 1em;
      transition: transform 0.25s ease-in-out;
    }
  }
}

.nav__open {
  .nav__menu {
    transform: translateX(0);
  }

  .nav__toggle {
    position: fixed;
  }

  .nav__hamburger {
    transform: rotate(0.625turn);

    &:before {
      transform: rotate(90deg) translate(6px);
    }

    &:after {
      opacity: 0;
    }
  }
}

// Section
section {
  text-align: center;
  padding: 0 1em;
  margin: 5em auto;
  scroll-margin-top: 5vh;
}

.section {
  &__title {
    margin-bottom: 1em;
  }
}

// Containers
.container {
  text-align: left;

  &__hero {
    width: 100%;

    .section__title {
      margin-bottom: 0;
    }
  }
}

// Hero Section
.hero {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;

  &__social-media {
    margin-top: 2em;

    &__list {
      display: flex;
      list-style: none;
    }

    &__item {
      padding-right: 1em;
    }

    &__link {
      color: var(--clr-primary);

      &:hover {
        color: var(--clr-accent);
        transition: 0.5s;
      }
    }
  }

  &__arrow {
    position: absolute;
    bottom: 5em;

    a {
      text-decoration: none;
      color: var(--clr-primary);

      &:hover {
        color: var(--clr-accent);
        transition: 0.5s;
      }
    }
  }
}

// Arrow Bounce
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

// About Me Section
.about-me {
  &__bio p {
    margin-bottom: 1em;
  }

  &__contact-button {
    margin-top: 2em;
  }
}

// Button
.button {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  border: 0;
  font-family: var(--ff-headings);
  color: var(--clr-secondary);
  font-size: var(--fs-body);
  background: var(--clr-primary);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background: #C3423F;
  transition: 0.5s;
  text-decoration: none;
}

// Skills Section
.my-skills {
  &__icons {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 1em;
  }
}

.skill {
  &__box {
    text-align: center;
  }

  &__icon {
    font-size: 3em;
  }
}

// Project Section
.my-projects {
  &__showcase {
    display: flex;
    flex-direction: column;
  }
}

.project {
  &__item {
    margin-bottom: 5em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image img {
    width: 100%;
    height: auto;
    max-width: 500px;
  }

  &__description {
    margin-top: 1em;

    &__skills {
      margin-top: 1em;

      p {
        margin-bottom: 0.25em;
      }

      .skill__icon {
        font-size: 2em;
      }
    }

    &__links {
      margin-top: 1.5em;

      a:first-child {
        margin-right: 0.75em;
      }
    }
  }

}
